#cloud-config
# vim: syntax=yaml
#
# *********
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# **********
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: luisvalverde # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCwWw7BQ3rb1dhTxmnQgbIQLqmzXCkAnXVi+2aIW3IIEooY0zv5FY032wRo8xgELK424MkBpAKrbiz2CYpNc+XM7zhxmqkGu4E4e6M+yvM5DC6txmtTYWE+0j4WhmrjcgmQQS+ozbGt2taZIr2EPqcXKdgZc5aKrDxX/YqiiGndqTZlGFeFIJvf4Z39LaUHxacyWcmVUapSQFcRHM86hy6nUrbPcI2AL/JU7KjdiX9xv0KNb9iORYHuPSiJJ4WLXMpr6PEY5xXWmskcQOREzEQIrMV+D4DpWZN6jLHNgd0ALU6XYPOcEcxMR2VTvjRx7sAyWysRKytNlqRfz2LFjtgv fernando@luisvalverde
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
